* {
  padding: 0;
  margin: 0;
}
.body {
  box-sizing: border-box;
  overflow: hidden scroll;
  font-family: 'Courier New', Courier, monospace;
  
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  color: #333;
}
.navbar .logo p {
  color: #707070;
  font-weight: 600;
  font-size: 2rem;
}
.navbar .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.socials a{
  color: #707070;
  font-size: 1.5rem;
  margin-bottom: 25px;
}



.header {
  width: 100%;
  height: 100vh;
  color: #bbbbbb;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
}
.header .logo_content {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.logo_content h1 {
  text-align: start;
}
span {
  color: #494949;
}
.header .focus {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header p {
  font-weight: 500;
}
.G {
  border-radius: 100px;
  background: #333;
  width: 12rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.U {
  border-radius: 100px;
  background: #333;
  width: 12rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.F {
  border-radius: 100px;
  background: #333;
  width: 12rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.G:hover, .U:hover, .F:hover {
  transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}


.about {
  color: #bbbbbb;
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.about .profile {
  padding-left: 3px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 40px;
  height: 350px;
}
.about-content h2 {
  color: #5a5a5a;
}


.projects {
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.projects h2 {
  color: #5a5a5a;
  font-size: 3rem;
}
.projects ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: space-around;
}
.project-box {
  width: 20rem;
  margin: 30px;
}
.projects h3 {
  color: #5a5a5a;
  font-weight: 700;
}
.projects p {
  color: #bbbbbb;
}
.projects a{
  color: #bbbbbb;
  text-decoration: none;
  font-size: 1rem;
}
.project-box button {
  background: #5a5a5a;
  width: 10rem;
  height: 3rem;
  border-radius: 100px;
  border: none;
}



.skills {
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}
.skills h2 {
  font-size: 3rem;
  color: #636363;
}
.skill-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-card {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.skill-percentage {
  font-size: 24px;
  font-weight: bold;
}



.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  color: #bbbbbb;
}
h2 {
  margin-bottom: 10px;
}
p {
  margin-bottom: 20px;
}
form {
  width: 400px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.social-media {
  margin-top: 20px;
}
.social-media a {
  margin: 0 5px;
  color: #333;
}



.footer {
  background: url('/public/fixed-wallpaper.jpg') no-repeat center center / cover;
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: multiply;
  text-align: center;
  padding: 20px;
  color: #707070;
}



@media screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
}